dist/
node_modules/

.idea/
.vscode/

.DS_Store

**/.env.*
*.env.*
/cypress/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile
docker-compose.yml

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.prettierrc
